@{
    ViewData["Title"] = "Home Page";
    var user = Context.Session.GetObject<User>("currentUser") ?? new User();
}

<div class="text-center">
    <h1 class="display-4">@user.UserName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
