@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to my Hands on Test # 1</h1>
    
    <div class="container">
   
   <h3 class="mt-4">ASP.NET Core MVC</h3>
   <h3>Cami Carstens<br /></h3>
   <img src="~/images/MVC.jpg" alt="MVC picture" class="img-fluid" />
   </div>
</div>


