@model NovelNook.Areas.Forum.Models.Discussion
@{
    ViewBag.Title = "Delete Confirmed";
}

<form asp-asp-controller="Bicycle" asp-action="DeleteBike" asp-method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />

</form>
