@model Contact
@{
    ViewBag.Title = $"{ViewBag.Operation} Contact"; 
}

<h1>Contact Manager</h1>
<h2>@ViewBag.Operation Contact</h2>
<form asp-action="AddEdit" method="post">
    <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="FirstName" class="form-label"> </label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label" placeholder="" ></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Phone" class="form-label" placeholder=""></label>
        <input asp-for="Phone" class="form-control"/>
        <span asp-validation-for="Phone" class="text-danger"></span>
      </div>
    <div class="form-group mb-3">
    <label asp-for="CategoryId" class="form-label" placeholder="">Category </label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"class="form-control" >
            <option value="">---- Select Category ----</option>
            
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

        

 <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-secondary">Cancel</a>

</form>
