
@{
    ViewBag.Title = "Admin Entry Home Page";
}

<h1 class="border border-2 border-dark bg-secondary text-white text-center p-3">Loyal Cloth Admin Page.</h1>
<h4 class="border border-2 border-dark bg-white p-5">Administrators will be permitted to add, edit, or delete hoodie inventory and manage users and roles</h4>
