
@{
    Layout = "_HelpLayout";
    ViewBag.Title = "Help Tutorial Page 3";
}




<h2 class="mt-4">Tutorial - Page 3</h2>
<p>Here's the first thing you need to know about my website</p>

<a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2"
class="btn btn-dark text-white">Prev</a>