@{
    ViewBag.Message = "Discussions- Ask questions. Read book club ideas. Think deeper. Contribute to new ideas. Answer questions. ";
}
<div>
    <h1>Discussions board</h1>
</div>

<h2>Join the Conversation</h2>
<p>
    The <strong>Discussions</strong> page provides an online forum for readers to share
    thoughts and engage in conversations about their favorite books. Each discussion thread
    is tied to a specific book or topic, allowing users to dive into meaningful literary
    exchanges. Allows readers to get ideas for book clubs, ask questions about plot points, 
    and share interpretations.

</p>

<h2>Features of Discussions</h2>
<p>
    Users can create new discussion threads, reply to existing ones, and interact with
    comments from other readers. Threads are organized by book and genre, making it easy
    to find relevant conversations.
</p>
