html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EAF5E8;
    font-family: "Trirong";
}

footer {
    background-color: #D6EBDD;
    text-align: center;
    width: 100%;
}

.emailFooter {
    text-align: center;
    padding: 15px;
}

header {
    background-color: #D6EBDD;
}

    header a:hover {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }
