
@{
    ViewBag.Title = "Admin Home Page";
}

<h1 class="text-center">Welcome admin!</h1>
<h3 class="text-center">Custom Cuts Appointment Portal</h3>

<img src="~/images/admin-app-pic.jpg" class="img-fluid"/>


