@model MyShop.Models.Bicycle
@{
    ViewBag.Title = "Admin Add/Edit";
}
@*  Id = 1,
                    Brand = "Trek",
                    Model = "FX 1 Gen 4",
                    Year= 2022,
                    Type = "Hybrid",
                    Price = 699.99m,
                    Color ="Black",
                    ImageFileName = "favicon.ico" *@

<h1>Admin Bicycle Add/Edit</h1>

<form asp-controller="Bicycle" asp-action="Add" method="post">
<div asp-validation-summary="All" class="text-danger"></div>
   
    <div class="form-floating mb-3">
         <input asp-for=Brand class="form-control" id="floatingBrand" placeholder="Brand" />
         <label asp-for=Brand for="floatingBrand">Brand</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for=Model class="form-control" id="floatingModel" placeholder="Model" />
        <label asp-for=Model for="floatingModel">Model</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for=Year class="form-control" id="floatingYear" placeholder="Year" />
        <label asp-for=Year for="floatingYear">Year</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for=Type class="form-control" id="floatingType" placeholder="Type"/>
        <label asp-for=Type for="floatingType">Type</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for=Price class="form-control" id="floatingPrice" placeholder="Price"/>
        <label asp-for=Price for="floatingModel">Model</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for=Color class="form-control" id="floatingColor" placeholder="Color" />
        <label asp-for=Color for="floatingColor">Color</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>