@model RegisterViewModel
@{
    ViewBag.Title = "Register Account Page";
}

<h1 class="text-center border border-2 bg-secondary text-white p-5"><i class="bi bi-person-lines-fill"></i>Register Account</h1>

<div class="border border-2 border-dark bg-white p-5">

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post"asp-action="Register">
   <div class="form-group row">
    <div class="col-sm-2">
        <label class="mt-4">Username:</label>
    </div>

    <div class="col-sm-6">
        <input asp-for="Username" class="form-control mt-4" />
    </div>

    <div class="col">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
   </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="mt-4">Password:</label>
        </div>
        <div class="col-sm-6">
            <input type="password" asp-for="Password" class="form-control mt-4" />
        </div>

        <div class="col">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="mt-4">Confirm Password:</label>
        </div>

        <div class="col-sm-6">
            <input type="password" asp-for="ConfirmPassword" class="form-control mt-4" />
        </div>

        <div class="col">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-secondary mt-3">Register</button>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            Already Registered?
            <a asp-action="LogIn" class="mb-4">Login</a>
        </div> 

    </div>

</form>
    </div>
