@model HOT3.Models.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h1 class="text-center border border-2 bg-secondary text-white p-5"></i>Reset Password</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                <label asp-for="CurrentPassword"></label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" />
                <label asp-for="NewPassword"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>



