@model List<HOT3.Models.Hoodie>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Loyal Cloth</h1>

    <img src="~/images/home-page.jpg" alt="hoodie close up"/>
</div>



