
@{
    ViewBag.Title = "Admin Home Page";
}

<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Decor" asp-action="Details" asp-route-name="book" class="nav-link">Decor</a>
            </li>

            <li class="list-group-item">
                <a asp-area="Admin" asp-controller="Book" asp-action="Details" asp-route-name="decor" class="nav-link">Books</a>
            </li>
        </ul>

        <img src="/Images/bookLogo2.jpg" />
    </div>
</div>