@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin Home";
}

<h1 class="text-center mt-5">Welcome Admin</h1>
<h5 class="text-center">Navigate to books or decor to add, edit or delete inventory</h5>



