@{
    ViewData["Title"] = "Novel Nook Home Page";
}

<div class="row">
    <div class="col-4">
    <h1 class="display-4 pt-3">Novel Nook</h1>
    </div>

@* API daily book quote display *@
<div class="col-8">
@if(Model != null)
{
    <div class=" quote-box p-3 mt-3 border border-2 rounded bg-light shadow-sm">
        <h4 class="fw-bold">Quote of the day</h4>
        <blockquote class="fst-italic mt-2">
            "@Model.QuoteOfTheDay.Content"
        </blockquote>

        <p class="text-end fw-bold"> --@Model.QuoteOfTheDay.Author</p>
    </div>
}
</div>
</div>

<img src="~/images/BookBannerHome.jpg" accesskey="" action="" alt="Books" class=" homeBanner img-fluid" />




<div id="carouselExampleIndicators" class="carousel slide mt-3">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/bookImage1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/bookImage3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/bookImage2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/bookImage4.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
