@model IEnumerable<Accommodation>
@{
    ViewBag.Title = "Manage Accommodations";
}

<h2>Manage Accommodations</h2>
<div class="m-2">
    <a asp-action="Add" class="btn btn-secondary mt-3">Add Accommodation</a>
</div>

<form asp-action="Delete" method="post">
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(Accommodation acc in Model)
            {
                <tr>
                    <td>@acc.Name</td>
                    <td>@acc.Phone</td>
                    <td>@acc.Email</td>
                    <td>
                        <button type="submit" name="id" value="@acc.AccommodationId" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>
