
@{
    ViewBag.Title = "Contact Me Page";
}

@section Header {<h1>Contact</h1>}

<div class="row">
<div class="col-md-2">
    <table class="table">
        <tr>
            <td>
              Phone
            </td>
            <td>
              555-123-4567
            </td>
        </tr>
        <tr>
            <td> 
                Email
            </td>
            <td>
                me@mywebsite.com
            </td>

        </tr>
        <tr>
            <td>
                Facebook
            </td>
            <td>
                    facebook.com/mywebsite
            </td>
        </tr>
  
    </table>
</div>
</div>

@*     <div class="col-md-10">
        <table class="table">
            <tr>
                <td>
                    555-123-4567
                </td>
                <td>
                    me@mywebsite.com
                </td>
                <td>
                    facebook.com/mywebsite
                </td>
            </tr>
        </table>
    </div>
</div> *@