@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center mt-2">Welcome to MyShop</h3>
<p class="mt-4 border border-2 p-3">Your one stop shop to be connected to the right people at the right time for any of your needs. You may be too busy to make the calls, appointments, and connections. We will do it all for you!</p>

